/* ----------------------------------------
 Style for card of seichis
---------------------------------------- */
.work-card {
  border: 2px solid aqua;
  border-radius: 10px;
  background-color: rgb(100 255 255 / 0.1);
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 10px 10px 10px 10px;
  display: inline-block;
}

/* ----------------------------------------
 Style for embedded google map for seichi
---------------------------------------- */
.seichi-map {
  border: 1.5px solid palevioletred;
  margin-top: 10px;
  border-radius: 8px;
  height: 255px;
  width: 300px;
}

/* ----------------------------------------
 Style for search box i.e. input
---------------------------------------- */
.search-box {
  margin-bottom: 10px;
  width: 300px;
  height: 30px;
}

.footer {
  text-align: center;
}

summary {
  cursor: pointer;
}

/* ----------------------------------------
 Styles for dark mode
 Based on `https://coddy.tech/learn/ja/html/practical_frontend/darklight_mode_basics`
---------------------------------------- */
:root {
  --background-color: #ffffff;
  --text-color: #333333;
  --heading-color: #000000;
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
}
h1, h2, h3 {
  color: var(--heading-color);
}
.dark-mode {
  --background-color: #333333;
  --text-color: #f5f5f5;
  --heading-color: #ffffff;
}

/* ----------------------------------------
 Styles for balloon hover text
 Copied from `https://webparts.cman.jp/balloon/over/`
 And I modified it.
---------------------------------------- */
.balloonoya {
  position: relative;                /* 指定した分だけ相対的に移動 */
  display: inline-block;
  cursor: pointer;
}
.balloonoya:hover .balloon-bottom {
  display: inline;                /* インライン要素として表示 */
}
.balloon-bottom {
  position: absolute;                /* 親要素を基準 */
  display: none;                        /* 要素を非表示 */
  padding: 2px;                         /* テキストの前後の余白 */
  background-color: #ffffff;       /* 背景色（透明度） */
  width:180px;                          /* 吹き出し全体の幅 */
  left : 1vw;                           /* 表示位置 */
  top : 100%;                           /* 表示位置 */
  margin-top : 12px;                    /* 表示位置 */
  font-size: 0.8rem;                       /* 文字サイズ */
  color: black;
  cursor: default;
}
.balloon-bottom:after {
  border-bottom: 12px solid #ffffff; /* 吹き出し口の高さ・色 */
  border-left: 10px solid transparent;    /* 吹き出し口の幅１／２ */
  border-right: 10px solid transparent;   /* 吹き出し口の幅１／２ */
  top: -12px;                             /* 吹き出し口の位置調整 */
  left: 1vw;                              /* 吹き出し口の横位置 */
  content: "";                       /* コンテンツの挿入 */
  position: absolute;                /* 親要素を基準 */
  cursor: default;
}
